[submodule "kernel/libcxxrt"]
	path = kernel/libcxxrt
	url = https://github.com/libcxxrt/libcxxrt
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/16.x
