[submodule "kernel/libcxxrt"]
	path = kernel/libcxxrt
	url = https://github.com/libcxxrt/libcxxrt
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/16.x
[submodule "terminald/terminald/flanterm"]
	path = terminald/terminald/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "terminald/flanterm"]
	path = terminald/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "devicesd/uACPI"]
	path = devicesd/uACPI
	url = https://github.com/UltraOS/uACPI.git
