default-entry = "pmOS"

[pmOS]
protocol = ultra

binary:
    path = "/kernel"

page-table:
    levels = 3

module:
    path = "/bootstrapd.elf"
    name = "bootstrapd.elf;bootstrap"

module:
    path = "/vfsd.elf"
    name = "/vfsd.elf;file"

module:
    path = "/init.yaml"
    name = "/init.yaml;init-config"

module:
    path = "/terminald.elf"
    name = "/terminald.elf;file"

module:
    path = "/vfatfsd.elf"
    name = "/vfatfsd.elf;file"

module:
    path = "/devicesd.elf"
    name = "/devicesd.elf;file"

module:
    path = "/ns16550.elf"
    name = "/ns16550.elf;file"

module:
    path = "/logd.elf"
    name = "/logd.elf;file"

module:
    path = "/piped.elf"
    name = "/piped.elf;file"

module:
    path = "/processd.elf"
    name = "/processd.elf;file"

# module:
#     path = "/ahcid.elf"
#     name = "ahcid.elf;init"

module:
    path = "/ps2d.elf"
    name = "/ps2d.elf;file"

module:
    path = "/blockd.elf"
    name = "/blockd.elf;file"

module:
    path = "/i8042.elf"
    name = "/i8042.elf;file"

module:
    path = "/pmbus"
    name = "/pmbus;file"

