default-entry = "pmOS"

[pmOS]
protocol = ultra

binary:
    path = "/kernel"

page-table:
    levels = 3

module:
    path = "/bootstrapd.elf"
    name = "bootstrapd.elf;bootstrap"

module:
    path = "/vfsd.elf"
    name = '"vfsd.elf;{"service": {"name": "vfsd", "description": "Virtual Filesystem Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/terminald.elf"
    name = '"terminald.elf;{"service": {"name": "terminald", "description": "Terminal Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/vfatfsd.elf"
    name = '"vfatfsd.elf;{"service": {"name": "vfatfsd", "description": "VFAT Filesystem Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/devicesd.elf"
    name = '"devicesd.elf;{"service": {"name": "devicesd", "description": "Device Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/ns16550.elf"
    name = '"ns16550.elf;{"service": {"name": "ns16550", "description": "NS16550 UART Driver", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/logd.elf"
    name = '"logd.elf;{"service": {"name": "logd", "description": "Logging Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/piped.elf"
    name = '"piped.elf;{"service": {"name": "piped", "description": "Piped Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/processd.elf"
    name = '"processd.elf;{"service": {"name": "processd", "description": "Process Service", "run_type": "ALWAYS_ONCE"}}"'

# module:
#     path = "/ahcid.elf"
#     name = "ahcid.elf;init"

module:
    path = "/ps2d.elf"
    name = '"ps2d.elf;{"service": {"name": "ps2d", "description": "PS/2 Driver", "run_type": "RUN_MANUAL"}}"'

module:
    path = "/blockd.elf"
    name = '"blockd.elf;{"service": {"name": "blockd", "description": "Block Device Service", "run_type": "ALWAYS_ONCE"}}"'

module:
    path = "/i8042.elf"
    name = '"i8042.elf;{"service": {"require": ["ps2d"], "name": "i8042", "description": "i8042 controller driver", "run_type": "FIRST_MATCH_ONCE", "match": {"pnp": ["PNP0300", "PNP0301", "PNP0302", "PNP0303", "PNP0304", "PNP0305", "PNP0306", "PNP0307", "PNP0308", "PNP0309", "PNP030A", "PNP030B", "PNP0320", "PNP0321", "PNP0322", "PNP0323", "PNP0324", "PNP0325", "PNP0326", "PNP0327", "PNP0340", "PNP0341", "PNP0342", "PNP0343", "PNP0344", "PNP0F00", "PNP0F01", "PNP0F02", "PNP0F03", "PNP0F04", "PNP0F05", "PNP0F06", "PNP0F07", "PNP0F08", "PNP0F09", "PNP0F0A", "PNP0F0B", "PNP0F0C", "PNP0F0D", "PNP0F0E", "PNP0F0F", "PNP0F10", "PNP0F11", "PNP0F12", "PNP0F13", "PNP0F14", "PNP0F15", "PNP0F16", "PNP0F17", "PNP0F18", "PNP0F19", "PNP0F1A", "PNP0F1B", "PNP0F1C", "PNP0F1D", "PNP0F1E", "PNP0F1F", "PNP0F20", "PNP0F21", "PNP0F22", "PNP0F23", "PNP0FFC", "PNP0FFF"]}}}"'

module:
    path = "/pmbus"
    name = '"pmbus;{"service": {"name": "pmbus", "description": "PMBus Driver", "run_type": "ALWAYS_ONCE"}}"'

