set default="0"
set timeout=3

menuentry "pmOS" {
    multiboot2 /boot/pmos/loader.elf
    module2 --nounzip /boot/pmos/kernel kernel
    module2 --nounzip /boot/pmos/processd.elf processd
    module2 --nounzip /boot/pmos/terminald.elf terminald
    module2 --nounzip /boot/pmos/devicesd.elf devicesd
    module2 --nounzip /boot/pmos/i8042.elf i8042
    module2 --nounzip /boot/pmos/ps2d.elf ps2d
    boot
}